* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px #808080; 
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #ffff00; 
  box-shadow: inset 0 0 10px #000000;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff; 
}

body {
  display: flex;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 25px;
  color: #ffffff;
  background-color: #000000;
}

#container {
  margin: auto;
}
#container h1 {
  padding-top: 50px;
  font-size: 70px;
}
#container button {
  padding: 10px 15px;
  border: 2px solid #ffffff;
  border-radius: 10px;
  margin: 20px 5px 40px 5px;
  font-family: 'Indie Flower', cursive;
  font-size: 30px;
  color: #ffffff;
  background-color: unset;
  cursor: pointer;
  transition: transform .2s;
}
#container button:hover {
  transform: scale(1.05);
}

#fizzbuzz {
  color: #00bfff;
}
h1 #fizzbuzz {
  animation-name: title1;
  animation-duration: 2.5s;
  animation-delay: 1s;
  animation-iteration-count: 2;
  animation-direction: alternate;
}
@keyframes title1 {

  from {
    color: #00bfff;
  }
  50% {
    color: #32cd32;
  }
  to {
    color: #ffff00;
  }

}

#fizz {
  color: #32cd32;
}
h1 #fizz {
  animation-name: title2;
  animation-duration: 2.5s;
  animation-delay: 1s;
  animation-iteration-count: 2;
  animation-direction: alternate;
}
@keyframes title2 {

  from {
    color: #32cd32;
  }
  50% {
    color: #ffff00;
  }
  to {
    color: #00bfff;
  }

}

#buzz {
  color: #ffff00;
}
h1 #buzz {
  animation-name: title3;
  animation-duration: 2.5s;
  animation-delay: 1s;
  animation-iteration-count: 2;
  animation-direction: alternate;
}
@keyframes title3 {

  from {
    color: #ffff00;
  }
  50% {
    color: #00bfff;
  }
  to {
    color: #32cd32;
  }

}